@model Qin_Eric_HW2.Models.EventOrder

@{
    ViewData["Title"] = "EventTotals";
}

<h1>Your Total for this Event Order:</h1>

<div>
    <h4>EventOrder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreferredCustomer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreferredCustomer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfAdultTickets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfAdultTickets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfChildTickets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfChildTickets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalItems)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalItems)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdultSubtotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdultSubtotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChildSubtotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChildSubtotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subtotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceFee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Home</a>
</div>
